<!DOCTYPE html>
<html>
<head>
    <link href="./public/stylesheets/style.css" rel="stylesheet">
    <title>Редактирование пользователя</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
<ul class="menu-main">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/users" class="current">Users</a></li>
    <li><a href="">Contact</a></li>
</ul>
<h1>Редактирование пользователя</h1>
<form action="/users/edit" method="POST">
    <input type="hidden" name="id" value="{{user.idUser}}" />
    <label>Имя</label><br>
    <input name="name" value="{{user.name}}"  class="field" /><br><br>
    <label>body</label><br>
    <input name="body" value="{{user.body}}" class="field" /><br><br>
    <input type="submit" value="Отправить" />
</form>
<a href="/users">К списку пользователей</a>
</body>

<style>
    body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    a {
        color: #00B7FF;
    }
    body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        background-color: antiquewhite;
    }
</style>
<html>