<!DOCTYPE html>
<html>
<head>

    <title>Login</title>
    <meta charset="utf-8" />
    <link href="./public/stylesheets/style.css" rel="stylesheet">
</head>
<body>
<ul class="menu-main">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/users" class="current">Users</a></li>
    <li><a href="/login">Login</a></li>
</ul>
<h1>Login</h1>
<form method="POST">
    <label>Login</label><br>
    <input name="login" class="field"/><br><br>
    <label>Password</label><br>
    <input name="password" class="field"/><br><br>
    <input type="submit" value="Отправить" />
    <br><li><a href="/login/user">check auth</a></li>
</form>

</body>

<style>
    body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    a {
        color: #00B7FF;
    }
    body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        background-color: antiquewhite;
    }
</style>
<html>